@font-face{
    font-family:'PR' ;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face{
    font-family:'PB' ;
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}