@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background: #00040F;
}

.container {
    max-width: 1200px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 30px 0 11px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo__h {
    font-family: 'PB', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    color: white;
}

.logo__h-b {
    color: #5CE1E6;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.menu__link {
    font-family: 'PR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: white;
    transition: 0.3s;
}

.menu__link:hover {
    color: #5CE1E6;
}

.header_burger-btn {
    display: none;
}

.header_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.open .header_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner {
    margin-top: 120px;
}

.banner__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__desc {
    max-width: 670px;
    width: 100%;
}

.banner__discount {
    padding: 7px 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, #272727 0%, #11101D 100%);
    display: flex;
    gap: 13px;
    max-width: 430px;
}

.banner__discount-p {
    font-family: 'PR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #FFFFFF99;
}

.banner__discount-pw {
    color: white;
}

.banner__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.banner__main-h {
    color: #FFF;
    font-family: 'PB', sans-serif;
    font-size: 72px;
    font-weight: 600;
}

.banner__main-hb {
    color: #5CE1E6;
}

.banner__main-btn {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    border: 1px solid #5CE1E6;
    position: absolute;
    top: 0;
    right: 100px;
    padding: 29px 22px 14px 19px;
    color: #5CE1E6;
    text-align: center;
    font-family: 'PR', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.banner__p {
    font-family: 'PR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFFB2;
    margin-top: 40px;
    max-width: 483px;
}

.banner__img-img {
    object-fit: cover;
    height: 550px;
}

.numbers {
    margin-top: 70px;
}

.numbers__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.numbers__num {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.num__h {
    font-family: 'PB', sans-serif;
    font-size: 41px;
    font-weight: 600;
    line-height: 53px;
    color: white;
}

.num__p {
    font-family: 'PR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #5CE1E6;
}

.numbers__stick {
    width: 1px;
    height: 13px;
    background: rgba(255, 255, 255, 0.60);
}

.info {
    margin-top: 90px;
}

.info__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__desc {
    max-width: 622px;
}

.info__h {
    font-family: 'PB', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin-bottom: 24px;
}

.info__p {
    font-family: 'PR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFFB2;
    margin-bottom: 48px;
}

.Btn {
    font-family: 'PR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #00040E;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    padding: 19px 33px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.info__main {
    max-width: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.info__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    background: transparent;
    width: 100%;
    border-radius: 20px;
    transition: 0.3s;
}

.info__info:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
    box-shadow: 0px 20px 100px -10px #42475B1A;
}

.info__info-h {
    font-family: 'PB', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.info__info-p {
    font-family: 'BR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFFB2;
    margin-top: 8px;
}

.info__info-img {
    background: rgba(9, 151, 124, 0.10);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs {
    padding: 13px;
}

.img3 {
    padding: 13px 14px 13px 13px;
}

.control {
    margin-top: 90px;
}

.control__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control__img {
    object-fit: cover;
    height: 450px;
}

.control__desc {
    max-width: 480px;
}

.banners__h {
    font-family: 'PB', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin-bottom: 24px;
}

.banners__p {
    font-family: 'PR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFFB2;
}

.control__app {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 45px;
}

.card {
    margin-top: 90px;
}

.card__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__desc {
    max-width: 570px;
}

.card__btn {
    margin-top: 17px;
}

.feedback {
    margin-top: 90px;
}

.feedback__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

.feedback__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.feedback__card {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, #14101D 100%);
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.10);
    padding: 60px 40px;
    border-radius: 20px;
    max-width: 370px;
    transition: 0.3s;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 395px;
}

.feedback__p {
    font-family: 'PR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: white;
    margin: 40px 0 30px 0;
}

.feedback__ava {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.feedback__ava-h {
    font-family: 'PR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: white;
}

.feedback__ava-p {
    font-family: 'PR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFFB2;
}

.companies {
    margin-top: 90px;
}

.companies__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.company {
    object-fit: cover;
    width: 192px;
}

.service {
    margin-top: 90px;
}

.service__card {
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(154deg, #FFF 0%, #6D6D6D 0%, #11101D 0%);
    padding: 72px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__card-p {
    max-width: 390px;
}

.footer {
    margin-top: 120px;
}

.footer__wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__top-main-p {
    max-width: 300px;
    margin-top: 30px;
}

.footer__top-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 130px;
}

.footer__top-h {
    font-family: 'PB', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: white;
    margin-bottom: 24px;
    cursor: pointer;
}

.footer__top-p {
    font-family: 'PR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFFB2;
    margin-bottom: 12px;
    cursor: pointer;
}

.footer__bottom{
    padding: 30px 0;
    border-top: 1px solid #3F3E45;
    display: flex;
    justify-content: space-between;
}

.footer__bottom-p{
    text-align: center;
}

.footer__bottom-main{
    display: flex;
    gap: 15px;
}

.footer__wrap-media{
    display: flex;
    gap: 20px;
}

@media screen and (max-width:1180px) {
    .banner__wrap {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .feedback__cards {
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (max-width:1050px) {
    .info__wrap {
        flex-direction: column;
        gap: 15px;
    }

    .info__main {
        max-width: 100%;
    }
}

@media screen and (max-width:1020px) {
    .numbers__stick {
        display: none;
    }

    .control__wrap {
        flex-direction: column;
    }

    .card__wrap {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .service__card {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer__top-sections{
        gap: 70px;
    }
}

@media screen and (max-width:900px) {
    .companies__wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__top{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (max-width:800px) {
    .service__card {
        padding: 52px 50px;
    }

    .service__h {
        font-size: 40px;
    }
}

@media screen and (max-width:630px) {
    .service__card-btn {
        padding: 10px 23px;
    }

    .header_burger-btn {
        display: block;
        position: fixed;
        top: 26px;
        right: 6px;
        height: 40px;
        width: 40px;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: all .5s;
        z-index: 160;
    }

    .header_burger-btn span {
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
        left: 5px;
        transition: all .5s;
    }

    .header_burger-btn span:nth-child(1) {
        transform: translateY(-10px);
    }

    .header_burger-btn span:nth-child(3) {
        transform: translateY(10px);
    }

    .header.open .header_burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(-45deg);
    }

    .header.open .header_burger-btn span:nth-child(2) {
        opacity: 0;
    }

    .header.open .header_burger-btn span:nth-child(3) {
        transform: translateY(0) rotate(45deg);
    }

    .menu {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        background: #4F4F4F;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 90px 25px 60px 25px;
        gap: 40px;
        transform: translateX(100%);
        transition: all .5s;
        z-index: 50;
    }

    .header.open .menu {
        transform: translateX(0);
    }

    .banner__img-img {
        height: 500px;
    }

    .banner__main-h {
        font-size: 65px;
        margin-top: 10px;
    }

    .banner__main-btn {
        display: none;
    }

    .footer__bottom{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width:570px) {
    .banner__main-h {
        font-size: 50px;
    }

    .control__img {
        height: 380px;
    }

    .info__h {
        font-size: 40px;
    }

    .banners__h {
        font-size: 40px;
    }
}

@media screen and (max-width:510px) {
    .banner__img-img {
        height: 400px;
    }

    .feedback__ava-img {
        object-fit: cover;
        height: 70px;
    }

    .footer__top-sections{
        gap: 30px;
    }
}

@media screen and (max-width:480px) {
    .companies__wrap {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .footer__top-sections{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:450px) {
    .banner__main-h {
        font-size: 40px;
    }

    .banner__img-img {
        height: 350px;
    }

    .control__img {
        height: 350px;
    }

    .banners__h {
        font-size: 40px;
    }

    .card__img {
        height: 330px;
    }

    .feedback__p {
        font-size: 16px;
        line-height: 28px;
    }

    .feedback__ava-h {
        font-size: 18px;
    }

    .feedback__ava-p {
        font-size: 14px;
    }


    .service__h {
        font-size: 32px;
    }

    .service__card {
        padding: 32px 30px;
    }
}

@media screen and (max-width:400px) {
    .num__h {
        font-size: 35px;
    }

    .num__p {
        font-size: 16px;
    }

    .control__img {
        height: 300px;
    }

    .info__h {
        font-size: 33px;
    }

    .banners__h {
        font-size: 33px;
    }


}

@media screen and (max-width:370px) {
    .banner__main-h {
        font-size: 35px;
    }

    .banner__img-img {
        height: 320px;
    }

    .control__img {
        height: 260px;
    }
}